<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<main id='root'></main>

<div class="body_box">
  <div class="top-image">
    <%= image_tag 'front_page/sky.jpg', class: "top-image" %>
    <div class="top-image-content">
        <h2>Discover and share the world's best photos</h2>
        <p>Get inspired with incredible photos from diverse styles and genres
        around the world.  We're notguided by fads - just great photography.</p>
        <button href='/signup'>Sign up</button>
    </div>
  </div>

  <div class="about-pinhole">
    <h3>What makes us different?</h3>
    <div class="about-content">
      <%= image_tag 'front_page/plant.png', class: "text-images" %>
      <h4>Grow as a photographer</h4>
      <p>Get immediate exposure with your first upload. Our Pulse algorithm 
      surfaces new photographs and photographers, ensuring your photos are seen 
      by the community so you receive valuable feedback on day one.</p>
    </div>
    <div class="about-content">
      <%= image_tag 'front_page/ruler.png', class: "text-images" %>
      <h4>Build your career</h4>
      <p>Present yourself as a professional. Get hired by displaying your 
      services, create a Directory listing, showcase the workshops you're 
      holding, and create Galleries to highlight your work.</p>
    </div>
    <div class="about-content">
      <%= image_tag 'front_page/statistics.png', class: "text-images" %>
      <h4>See how you're performoing</h4>
      <p>With Statistics and Pulse you get valuable insights into how your 
      photos are performing and how you rank in comparison to other 
      photographers in the community.</p>
    </div>
  </div>
</div>